:root {
  --anil-flowx-whiteNode: #ffffff;
  --anil-flowx-redNode: #f2495c;
  --anil-flowx-orangeNode: #ff9830;
  --anil-flowx-yellowNode: #fade2a;
  --anil-flowx-greenNode: #73bf69;
  --anil-flowx-blueNode: #5794f2;
  --anil-flowx-grayNode: #ebebeb;
}

.anil-flowx-panelContainer {
  width: 100%;
  height: 100%;
  color: black;
  position: relative;
  overflow: hidden;
}

/*FOR CUSTOM NODES GENERAL*/
.anil-flowx-nodeCustomContainer {
  border: 1px solid black;
  text-align: center;
  border-radius: 5px;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  width: 240px; /* Default */
  height: 242px; /* Default */
}

.anil-flowx-nodeCustomValues {
  height: 100%; /* 8*24px + 20px */
  display: flex;
  flex-direction: column;
}

.anil-flowx-nodeCustomTitle {
  background-color: #ebebeb;
  border-bottom: 1px solid black;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  padding: 0px 5px;
}

.anil-flowx-nodeCustomData {
  height: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  padding: 5px 0px;
  margin: auto 0px;
}

.anil-flowx-nodeCustomData > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 0px 5px;
}

.anil-flowx-nodeCustomData > div > b {
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}
/* FOR NODES TypeTitle */
.anil-flowx-nodeTypeTitle {
  width: 240px !important; /* Overwrite */
  height: 50px !important; /* Overwrite */
}
.anil-flowx-nodeCustomTitleTitle {
  background-color: #ebebeb;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  padding: 0px 5px;
}
/* FOR NODES TypeOne */
.anil-flowx-nodeTypeOne {
  width: 240px !important; /* Overwrite */
  height: 98px !important; /* Overwrite */
}
/* FOR NODES TypeTwo */
.anil-flowx-nodeTypeTwo {
  width: 240px !important; /* Overwrite */
  height: 146px !important; /* Overwrite */
}
/* FOR NODES TypeThree */
.anil-flowx-nodeTypeThree {
  width: 240px !important; /* Overwrite */
  height: 194px !important; /* Overwrite */
}
/* FOR NODES TypeFour */
.anil-flowx-nodeTypeFour {
  width: 240px !important; /* Overwrite */
  height: 242px !important; /* Overwrite */
}
/* FOR NODES TypeCircle */
.anil-flowx-nodeTypeCircle {
  width: 100px !important; /* Overwrite */
  height: 100px !important; /* Overwrite */
  border: 1px solid black;
  border-radius: 50%;
}
/* FOR NODES TypeDiamond */
.anil-flowx-nodeTypeDiamondContainer {
  width: 100px !important; /* Overwrite */
  height: 100px !important; /* Overwrite */
  display: flex;
  justify-content: center;
  align-items: center;
}
.anil-flowx-nodeTypeDiamond {
  width: 72px;
  height: 72px;
  border: 1px solid black;
  transform: rotate(45deg);
}

/* FOR NODE POPUP */

.anil-flowx-nodePopup {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.anil-flowx-nodePopupInside {
  margin: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  padding: 10px;
}

.anil-flowx-nodePopupInside > div {
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.anil-flowx-nodePopupInside > a {
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.anil-flowx-nodePopupTitle {
  background-color: var(--anil-flowx-grayNode);
  border: 1px solid black;
  border-radius: 5px;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0px 5px;
}

/* COLOR CONDITION CLASSES */

/* Not animated classes */
.anil-flowx-nodeBgDefault {
  background-color: var(--anil-flowx-whiteNode);
  color: black;
}
.anil-flowx-nodeBgRed {
  background-color: var(--anil-flowx-redNode);
}
.anil-flowx-nodeBgOrange {
  background-color: var(--anil-flowx-orangeNode);
}
.anil-flowx-nodeBgYellow {
  background-color: var(--anil-flowx-yellowNode);
}
.anil-flowx-nodeBgGreen {
  background-color: var(--anil-flowx-greenNode);
}
.anil-flowx-nodeBgBlue {
  background-color: var(--anil-flowx-blueNode);
}
.anil-flowx-nodeBgGray {
  background-color: var(--anil-flowx-grayNode);
}

/* Animated classes */

.anil-flowx-nodeBgRedBlink {
  -webkit-animation: anil-flowx-redBlink 0.2s infinite; /* Safari 4+ */
  -moz-animation: anil-flowx-redBlink 0.2s infinite; /* Fx 5+ */
  -o-animation: anil-flowx-redBlink 0.2s infinite; /* Opera 12+ */
  animation: anil-flowx-redBlink 0.2s infinite; /* IE 10+, Fx 29+ */
}
.anil-flowx-nodeBgOrangeBlink {
  -webkit-animation: anil-flowx-orangeBlink 0.2s infinite; /* Safari 4+ */
  -moz-animation: anil-flowx-orangeBlink 0.2s infinite; /* Fx 5+ */
  -o-animation: anil-flowx-orangeBlink 0.2s infinite; /* Opera 12+ */
  animation: anil-flowx-orangeBlink 0.2s infinite; /* IE 10+, Fx 29+ */
}
.anil-flowx-nodeBgYellowBlink {
  -webkit-animation: anil-flowx-yellowBlink 0.2s infinite; /* Safari 4+ */
  -moz-animation: anil-flowx-yellowBlink 0.2s infinite; /* Fx 5+ */
  -o-animation: anil-flowx-yellowBlink 0.2s infinite; /* Opera 12+ */
  animation: anil-flowx-yellowBlink 0.2s infinite; /* IE 10+, Fx 29+ */
}
.anil-flowx-nodeBgGreenBlink {
  -webkit-animation: anil-flowx-greenBlink 0.2s infinite; /* Safari 4+ */
  -moz-animation: anil-flowx-greenBlink 0.2s infinite; /* Fx 5+ */
  -o-animation: anil-flowx-greenBlink 0.2s infinite; /* Opera 12+ */
  animation: anil-flowx-greenBlink 0.2s infinite; /* IE 10+, Fx 29+ */
}
.anil-flowx-nodeBgBlueBlink {
  -webkit-animation: anil-flowx-blueBlink 0.2s infinite; /* Safari 4+ */
  -moz-animation: anil-flowx-blueBlink 0.2s infinite; /* Fx 5+ */
  -o-animation: anil-flowx-blueBlink 0.2s infinite; /* Opera 12+ */
  animation: anil-flowx-blueBlink 0.2s infinite; /* IE 10+, Fx 29+ */
}
.anil-flowx-nodeBgGrayBlink {
  -webkit-animation: anil-flowx-grayBlink 0.2s infinite; /* Safari 4+ */
  -moz-animation: anil-flowx-grayBlink 0.2s infinite; /* Fx 5+ */
  -o-animation: anil-flowx-grayBlink 0.2s infinite; /* Opera 12+ */
  animation: anil-flowx-grayBlink 0.2s infinite; /* IE 10+, Fx 29+ */
}

/* Animations */
@keyframes anil-flowx-redBlink {
  0%,
  49% {
    background-color: var(--anil-flowx-whiteNode);
  }
  50%,
  100% {
    background-color: var(--anil-flowx-redNode);
  }
}
@keyframes anil-flowx-orangeBlink {
  0%,
  49% {
    background-color: var(--anil-flowx-whiteNode);
  }
  50%,
  100% {
    background-color: var(--anil-flowx-orangeNode);
  }
}
@keyframes anil-flowx-yellowBlink {
  0%,
  49% {
    background-color: var(--anil-flowx-whiteNode);
  }
  50%,
  100% {
    background-color: var(--anil-flowx-yellowNode);
  }
}
@keyframes anil-flowx-greenBlink {
  0%,
  49% {
    background-color: var(--anil-flowx-whiteNode);
  }
  50%,
  100% {
    background-color: var(--anil-flowx-greenNode);
  }
}
@keyframes anil-flowx-blueBlink {
  0%,
  49% {
    background-color: var(--anil-flowx-whiteNode);
  }
  50%,
  100% {
    background-color: var(--anil-flowx-blueNode);
  }
}
@keyframes anil-flowx-grayBlink {
  0%,
  49% {
    background-color: var(--anil-flowx-whiteNode);
  }
  50%,
  100% {
    background-color: var(--anil-flowx-grayNode);
  }
}

.anil-flowx-nodeButton {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  color: #000000;
  cursor: pointer;
  margin: auto;
  padding: 5px 10px;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 100%;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.anil-flowx-nodeButton:hover,
.anil-flowx-nodeButton:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.anil-flowx-nodeButton:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
}
